


<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <li>
        <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-action="Index" asp-controller="Home">
         
            <div class="sidebar-brand-text mx-3">Sistema Rosario</div>
        </a>
    </li>

    <!-- Divider -->
    <li>
        <hr class="sidebar-divider my-0">
    </li>

    @*//Visible al admin junto a user*@
    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" asp-action="Index" asp-controller="Home">
            <i class="fas fa-home"></i>
            <span>Home</span>
        </a>
    </li>

    <!-- Divider -->
    <li>
        <hr class="sidebar-divider my-0">
    </li>

    <!-- Heading -->

    <li>
        <div class="sidebar-heading">
            Acádemico
        </div>
    </li>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link" asp-action="Index" asp-controller="Estudiantes">
            <i class="fas fa-user-alt"></i>
            <span>Estudiantes</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" asp-action="Index" asp-controller="Matriculas">
            <i class="fas fa-book"></i>
            <span>Matriculas</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" asp-action="Index" asp-controller="Notas">
            <i class="far fa-address-book"></i>
            <span>Calificaciones</span>
        </a>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <!-- Divider -->
    <li>
        <hr class="sidebar-divider my-0">
    </li>

    @*Permisos para las vistas en base al rol asignado*@

    @if (User.IsInRole("admin"))
    {
        <!-- Heading -->
        <li>
            <div class="sidebar-heading">
                Administración
            </div>
        </li>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true"
               aria-controls="collapsePages">
                <i class="fas fa-fw fa-folder"></i>
                <span>Registros</span>
            </a>
            <div id="collapsePages" class="collapse" aria-labelledby="headingPages"
                 data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    @*//Menú visible al admin*@
                    <h6 class="collapse-header">Registrar:</h6>
                    <a class="collapse-item" asp-action="Index" asp-controller="Grados">Grados</a>
                    <a class="collapse-item" asp-action="Index" asp-controller="Grupos">Grupos</a>
                    <a class="collapse-item" asp-action="Index" asp-controller="Modalidads">Modalidades</a>
                    <a class="collapse-item" asp-action="Index" asp-controller="Materias">Materias</a>
                    <a class="collapse-item" asp-action="Index" asp-controller="Docentes">Docentes</a>
                    <a class="collapse-item" asp-action="Index" asp-controller="Asignar">Asignar grupo a docente</a>

                    <div class="collapse-divider"></div>
                    <h6 class="collapse-header">Otras páginas</h6>


                </div>
            </div>
        </li>

        <!-- Nav Item - Charts -->
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">
                <i class="fas fa-user"></i>
                <span>Usuarios</span>
            </a>
        </li>

        <!-- Nav Item - Tables -->
        <li class="nav-item">
            <a class="nav-link" asp-action="Index" asp-controller="Role">
                <i class="fas fa-fw fa-table"></i>
                <span>Roles</span>
            </a>
        </li>
    

        <li class="nav-item">
            <a class="nav-link"asp-action="Manual"  asp-controller="Home">
                <i class="fas fa-fw fa-table"></i>
                <span>Manual de usuario</span>
            </a>
        </li>
        <!-- Nav Item - Tables -->


    }

    <!-- Divider -->
    <li>
        <hr class="sidebar-divider d-none d-md-block">
    </li>

    <!-- Sidebar Toggler (Sidebar) -->
    <li>
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    </li>

</ul>