@model ROSARIOAPP.Models.Docente

@{
    ViewData["Title"] = "Delete";
    Layout = null;
}


<h3>¿Estás seguro que quieres eliminar esto?</h3>
<div>
 

    <form asp-action="Delete">
        <input type="hidden" asp-for="Iddocente" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |

    </form>
</div>
