@model ROSARIOAPP.Models.Docente

@{
    ViewData["Title"] = "Edit";
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Iddocente" />
            <div class="form-row">
                <div class="col">
                    <label asp-for="Nombres" class="control-label"></label>
                    <input asp-for="Nombres" class="form-control" maxlength="20" title="El nombre
                           debe tener menos de 20 caracteres" required />
                    <span asp-validation-for="Nombres" class="text-danger"></span>
                </div>

                <div class="col">
                    <label asp-for="Apellidos" class="control-label"></label>
                    <input asp-for="Apellidos" class="form-control" maxlength="20"
                       title="Los apellidos deben tener menos de 20 caracteres" required />
                    <span asp-validation-for="Apellidos" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row">
                <div class="col-sm-4">
                    <label asp-for="Cedula" class="control-label" p>Cédula</label>
                    <input  asp-for="Cedula" class="form-control" pattern="[0-9]{13}[A-Za-z]{1}"title="Debe poner 13 números y una letra (000-000000-000X)"  required  />
                    <span asp-validation-for="Cedula" class="text-danger"></span>
                </div>


                <div class="col-sm-4">

                    <label asp-for="Sexo" class="control-label"></label>
                    <select asp-for="Sexo" class="form-control" required="">
                        <option selected>Seleccionar</option>
                        <option>M</option>
                        <option>F</option>

                    </select>
                    <span asp-validation-for="Sexo" class="text-danger"></span>
                </div>

                <div class="col-sm-4">
                    <label asp-for="Telefono" class="control-label">Teléfono</label>
                    <input asp-for="Telefono" class="form-control" max="8" min="8" title="El numero de telefono debe tener 8 numeros" type="number" required />
                    <span asp-validation-for="Telefono" class="text-danger"></span>
                </div>
            </div>



            <div class="form-row">
                <div class="col-sm-6">
                    <label asp-for="Profesion" class="control-label">Profesión</label>
                    <input type="text" asp-for="Profesion" class="form-control" maxlength="20" required />
                    <span asp-validation-for="Profesion" class="text-danger"></span>
                </div>

                <div class="col-sm-3">
                    <label asp-for="Departamento" class="control-label"></label>
                    <select  asp-for="Departamento" id="selection" class="form-control select2-container--bootstrap4" style="width: 100%;" tabindex="-1" aria-hidden="true" required="">

                        <option>Esteli</option>
                        <option>León</option>
                        <option>Chinandega</option>
                        <option>Matagalpa</option>
                        <option>Jinotega</option>
                        <option>Madriz</option>
                        <option>Nueva Segovia</option>
                        <option>Boaco</option>
                        <option>Chontales</option>
                        <option>Rio San Juan</option>
                        <option>Carazo</option>
                        <option>Granada</option>
                        <option>Masaya</option>
                        <option>Rivas</option>
                        <option>Costa Caribe Norte (RAAN)</option>
                        <option>Costa Caribe Sur (RAAS)</option>
                    </select>
       
                    <span asp-validation-for="Departamento" class="text-danger"></span>
                </div>

            </div>
            <div class="form-row">
                <div class="col">
                    <label asp-for="Direccion" class="control-label"> Dirección</label>
                    <input asp-for="Direccion" class="form-control" required="" />
                    <span asp-validation-for="Direccion" class="text-danger"></span>
                </div>
            </div>
            <br />
            @*//Botones de guardado y cerrado*@
            <div class="modal-footer">
                <button type="submit" class="btn-sm btn-primary">
                    <i class="fa fa-save"></i>
                    Guardar
                </button>
                <button type="button" href="#myModal" class="btn-sm btn-danger" data-dismiss="modal">Cerrar</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>

    $(document).ready(function () {
        $("#selection").select2({
            placeholder: "Selecciona un departamento",
            allowClear: true,
            dropdownParent: $("#myModal")
        });
    });

</script>