@model ROSARIOAPP.Models.Nota

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Nota</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Idnota" />
            <div class="form-group">
                <label asp-for="Idmateria" class="control-label"></label>
                <select asp-for="Idmateria" class="form-control" asp-items="ViewBag.Idmateria"></select>
                <span asp-validation-for="Idmateria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="parcial" class="control-label"></label>
                <input asp-for="parcial" class="form-control" />
                <span asp-validation-for="parcial" class="text-danger"></span>
            </div>
      
            <div class="form-group">
                <label asp-for="nota_final" class="control-label"></label>
                <input asp-for="nota_final" class="form-control" />
                <span asp-validation-for="nota_final" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
