@model ROSARIOAPP.Models.Grado

@{
    ViewData["Title"] = "Edit";
    Layout = null;
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Idgrado" />
            <div class="form-group">
                <label asp-for="Grado1" class="control-label">Grado</label>
                <select asp-for="Grado1" class="form-control" required="">
                    <option disabled>--Seleccione el grado--</option>
                    <option> A</option>
                    <option> B</option>
                    <option> C</option>
                    <option> D</option>

                </select>
                <span asp-validation-for="Grado1" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>


<div class="modal-footer">

    <button type="submit" class="btn btn-primary">
        <i class="fa fa-save"></i>
        Guardar
    </button>

    <button type="button" href="#myModal" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
