@model ROSARIOAPP.Models.Grado

@{
    ViewData["Title"] = "Edit";
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Idgrado" />
            <div class="form-group">
                <label asp-for="Grado1" class="control-label">Grado</label>
                <select asp-for="Grado1" class="form-control" required="">
                    <option> Primero</option>
                    <option> Segundo</option>
                    <option> Tercero</option>
                    <option> Cuarto</option>
                    <option> Quinto</option>
                    <option> Sexto</option>

                </select>
                <span asp-validation-for="Grado1" class="text-danger"></span>
            </div>
            @*//Botones de guardado y cerrado*@
            <div class="modal-footer">

                <button type="submit" class="btn-sm btn-primary">
                    <i class="fa fa-save"></i>
                    Guardar
                </button>

                <button type="button" href="#myModal" class="btn-sm btn-danger" data-dismiss="modal">Cerrar</button>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
