@model ROSARIOAPP.Models.Grupo

@{
    ViewData["Title"] = "Create";
    Layout = null;

}

<div class="row">
    <div class="m-auto">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Idgrado" class="control-label"></label>
                <select asp-for="Idgrado" class="form-control" asp-items="ViewBag.Idgrado"></select>
            </div>
            <div class="form-group">
                <label asp-for="seccion" class="control-label"></label>
                <input asp-for="seccion" class="form-control" />
                <span asp-validation-for="seccion" class="text-danger"></span>
            </div>
            <div class="form-group" align="right">
                <div class="modal-footer">

                        <input type="submit" value="Guardar" class="btn btn-primary" />

                    
                    <button type="button" href="#myModal" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
