@model ROSARIOAPP.Models.Matricula

@{
    ViewData["Title"] = "Create";
    Layout = null;
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css" /> 

<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal" style="margin:0 auto" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-row">

                <div class="form-group col-md-5">
                    <label asp-for="fecha_matricula" class="control-label">Fecha</label>
                    <input type="date" asp-for="fecha_matricula" class="form-control" required />
                    <span asp-validation-for="fecha_matricula" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row">
                <label asp-for="Idestudiante" class="control-label">Estudiante(*)</label>
                <select id="selector" required asp-for="Idestudiante" class="form-control select2-container--bootstrap4" asp-items="ViewBag.Idestudiante"></select>

            </div>
            <br />
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label asp-for="Idmodalidad" class="control-label">Modalidad:</label>
                    <select asp-for="Idmodalidad" class="form-control" asp-items="ViewBag.Idmodalidad">
                        <option hidden selected>Seleccione</option>
                    </select>
                </div>

                <div class="form-group col-md-4">
                    <label asp-for="Idgrupo" class="control-label">Grupo(*):</label>
                    <select asp-for="Idgrupo" class="form-control" asp-items="ViewBag.Idgrupo">
                        <option hidden selected>Seleccione</option>
                    </select>

                </div>

                <div class="form-group col-md-4">
                    <label asp-for="año_lectivo" class="control-label">Año lectivo</label>
                    <input type="number" asp-for="año_lectivo" class="form-control" maxlength="4" oninvalid="setCustomValidity('El año lectivo debe contener 4 digitos')" oninput="setCustomValidity('')" required />
                    <span asp-validation-for="año_lectivo" class="text-danger"></span>
                </div>

                <div class="form-group col-md-4">
                    <label asp-for="turno" class="control-label">Año lectivo</label>
                    <input type="text" asp-for="turno" class="form-control" maxlength="15" oninvalid="setCustomValidity('El turno debe contener mas de 4 digitos')" oninput="setCustomValidity('')" required />
                    <span asp-validation-for="turno" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-4">
                    <label asp-for="repitente" class="control-label">Repitente</label>
                    <select asp-for="repitente" class="form-control" required="">
                        <option hidden selected>Seleccione</option>
                        <option>SI</option>
                        <option> NO</option>

                    </select>
                    <span asp-validation-for="repitente" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="tarjeta" class="control-label">Tarjeta</label>
                    <select asp-for="tarjeta" class="form-control" required="">
                        <option hidden selected>Seleccione</option>
                        <option> SI</option>
                        <option> NO</option>

                    </select>

                    <span asp-validation-for="tarjeta" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">

                    <label asp-for="estado" class="form-label">Estado</label>
                    <select asp-for="estado" type="text" class="form-control">
                        <option hidden selected>Seleccione</option>
                        <option>ACTIVO</option>
                        <option> INACTIVO</option>
                    </select>
                    <span asp-validation-for="estado" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="mb-3">
                    <label asp-for="observacion" class="form-label">Observación</label>
                    <textarea asp-for="observacion" class="form-control" rows="3" maxlength="30" title="No debe contener
                              mas de 30 caracteres"> </textarea>
                    <span asp-validation-for="observacion" class="text-danger"></span>
                </div>           
            </div>

    
            <div class="modal-footer">
                <button type="submit" class="btn-sm btn-primary" onclick="pregunta()" value="Enviar">
                    <i class="fa fa-save"></i>
                    Guardar
                </button>

                <button type="button" href="#myModal" class="btn-sm btn-danger" data-dismiss="modal">Cerrar</button>
            </div>
        </form>
       
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert-dev.js">//Link para alert(mensaje de exito) Ajax</script> 
<script> //scrip para el campo seleccion(estudiante), entrada buscador.

    $(document).ready(function () {
        $("#selector").select2({
            dropdownParent: $("#myModal"),
            placeholder: "Buscar el estudiante",
            allowClear: true
        });
    });

</script> 

@*<script>// Funcion js para el mensaje de éxito.
    function pregunta() {

        swal({
            title: "Guardado con éxito!",
            text: "Redireccionando en 2 seg.",
            type: "success",
            timer: 2000,
            showConfirmButton: false
        }, function () {
            window.location.href = "tupaginaweb.com";
        });
    } 
    //fin
</script>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
