
@model Microsoft.AspNetCore.Identity.IdentityRole

@{
    ViewData["Title"] = "Create";

}


<h4>¿Estas seguro que quieres eliminar esto?</h4>
<div>

    <form asp-action="Delete">


        <input type="submit" value="Delete" class="btn btn-danger" />

    </form>
</div>
