@model ROSARIOAPP.Models.Materia

@{
    ViewData["Title"] = "Create";
    Layout = null;
}

<div class="row">
    <div class="col-md-14">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Iddocente" class="control-label">Seleccione el docente:</label>
                <select asp-for="Iddocente" class="form-control"asp-items="ViewBag.Iddocente"></select>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label">Nombre de Materia:</label>
                <input asp-for="Nombre" class="form-control" required=""/> 
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>

           
            <div class="form-group" align="right">
                <div class="modal-footer">
                        <input type="submit"  value="Guardar" class="btn btn-primary" />
                    
                    <button type="button" href="#myModal" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </div>

        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
        
   

        }
}
