@model ROSARIOAPP.Models.Modalidad

@{
    //ViewData["Title"] = "Create";
    Layout = null;
}

<div class="row">
    <div class="m-auto">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Modalidad1" class="control-label">Modalidad</label>
                <input asp-for="Modalidad1" class="form-control"  required=""/>
                <span asp-validation-for="Modalidad1" class="text-danger"></span>
            </div>
            <div class="form-group" align="center">
                <input type="submit" value="Guardar" class="btn btn-primary"  />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
