@model ROSARIOAPP.Models.Modalidad

@{
    //ViewData["Title"] = "Delete";

    Layout = null;
}
<h5 align="center">¿Estás seguro que quieres eliminar esto?</h5>

<form asp-action="Delete" align="center">
    <input type="hidden" asp-for="Idmodalidad" />
    <button type="submit" value="Eliminar" class="btn btn-danger">
        <i class="fas fa-trash-alt"></i>
        Eliminar
    </button>
</form>
