@model ROSARIOAPP.Models.Modalidad

@{
    //ViewData["Title"] = "Delete";

    Layout = null;
}



<h5 align="center">¿Estas seguro que quieres eliminar esto?</h5>
<div>
    <hr />
    @*<dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Modalidad1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Modalidad1)
        </dd>
    </dl>*@
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Idmodalidad" />
        <input type="submit" value="Eliminar" class="btn btn-danger" align="center" /> |
       
    </form>
</div>
