@model ROSARIOAPP.Models.Modalidad

@{
    //ViewData["Title"] = "Edit";
    Layout = null;
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Idmodalidad" />
            <div class="form-group">
                <label asp-for="Modalidad1" class="control-label"></label>
                <select asp-for="Modalidad1" class="form-control" required="">
                    <option disabled>Seleccione una opción</option>
                    <option>Matutino</option>
                    <option>Vespertino</option>
                </select>
                <span asp-validation-for="Modalidad1" class="text-danger"></span>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-save"></i>
                    Guardar
                </button>
                <button type="button" href="#myModal" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
