@model IEnumerable<ROSARIOAPP.Models.Modalidad>

@{
    ViewData["Title"] = "Index";
}

<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
          
        </div><!-- /.container-fluid -->
    </div>
    <div class="col-lg-12">
        <div class="card card-primary card-outline">
            <div class="card-body">

                <h3 align="left">Lista de Modalidades</h3>
                <!-- Modal -->
                <div id="myModal" data-refresh="true" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModelLabel" aria-hidden="true"
                     style="display: none;">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">

                            </div>
                            <div class="modal-body">
                                <div class="align-content-center"
                                     id="modal-content">
                                    <h4>Cargando..</h4>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="container">
                    <div class="row">
                        <div class="col text-right">
                            <a id="btnNuevo" data-toggle="modal" href="#myModal" class="btn btn-primary btn-sm"><i class="fas fa-plus"> Nueva modalidad</i></a>
                        </div>
                    </div>
                </div>
                <br />

                <div class="container">
                    <div class="row">


                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        Modalidad
                                    </th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Modalidad1)
                                        </td>
                                        <td>
                                            <a href="#myModal" class="btnEdit btn-primary btn-sm" data-toggle="modal"
                                               data-id="@item.Idmodalidad"><i class="fas fa-edit"></i></a>


                                            <a href="#myModal" class="btnDelete btn-danger btn-sm" data-toggle="modal"
                                               data-id="@item.Idmodalidad"><i class="fas fa-trash-alt"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>
      




    @section scripts
{

        <script src="~/js/Modalidad/Modalidad.js"></script>

    }
